body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.product-listing{
  display:inline-flex;
  flex: 1;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top:-70px;
  margin-bottom: 20px;
}
.allproduct{
 

}
.product-listing .product-list-item{
  margin-left: 40px;
  padding: 10px 30px;
  width : 200px;
margin-top: 60px;
text-align: center;
  padding: 4rem;
  
}
.login-container {
  position: absolute;
  height: 200px;
  width: 800px;
  margin: -100px 0 0 -200px;
  top: 30%;
  left: 50%;
  z-index:1;

} 
#space > div {
  width: 500px;
  margin: auto;
  margin-top: 10%;
  font-family: "Roboto", sans-serif;
}
#signup, #login {
  width: 50%;
  background: #2c3e50;
}
#signup {
  height: 350px;
}
#login {
  height: 200px;
}
.yellow {
  background-color: gold;
}
#buttons {
  height: 50px;
  background: #2c3e50;
  width: 400px;
}
#buttons > p {
  width: 50%;
  float: left;
  color: white;
  text-align: center;
  padding-top: 25px;
  height: 50%;
  margin: 0;
}
#buttons > p:hover {
  background: #f1c40f;
  color: #2c3e50;
  cursor: pointer;
}
#signup > input, #signup > button {
  margin-top: 20px;
  margin-left: 100px;
  height: 25px;
  border: none;
  border-radius: 2px;
}
#first, #last, #address, #city, #State, #phone, #send{
  width: 250px;
}
#email {
  width: 175px;
}
#password {
  width: 125px;
  margin-left: 100px !important;
}
#login > #email, #login > #password, #login > button {
  width: 250px;
  margin-left: 90px !important;
  margin-top: 25px;
  height: 25px;
}
@import url(https://use.fontawesome.com/releases/v5.6.3/css/all.css);

/* body {
outine: none;
margin:0;
font-family: arial;

} */

.container-view {
  background: #FFCC5C;
  height: 100px;
  width: 100%;
  position: absolute;
  
  margin-bottom: 20px;
}

.role-line {
position: absolute;
width: 400px;
height:80px;
background: #AAD8B0;
text-align: center;
color: white;
left: 50%;
top:50%;
transform: translate(-50%, -50%);
border-radius: 50px;
box-shadow: -0.1px -0.1px 0.1px rgba(0, 0, 250, 0.1), 
             0.1px 0.1px 0.1px rgba(255,255,255,1), 
        inset 0.1px 0.1px 1px rgba(255, 255, 255,0.5), 
        inset 0.1px 1px 1px rgba(0, 0, 51,0.75), 
        inset -1px -1px 4px rgba(170, 216,176,0.5);
}

.role {
width:70px;
height: 80px;
top: 0px;
background: #FFCC5C;
position: absolute;
z-index: 10;
animation: inc;
animation-duration: 4s;
animation-iteration-count: infinite;
animation-direction: alternate;

}

@keyframes inc{
   0%{
      width: 70px;
   }
   100%{
      width: 350px;
   }
}

.role-line i {
position: absolute;
z-index: 11;
top: 0px;
left: -5px;
}

.push {
position: absolute;
transform: rotate(90deg);
font-size: 6.1em;
margin-left: 0;
color: #96CEB4;
text-shadow: 1px 1px 1px black;
animation: move;
animation-duration: 4s;
animation-iteration-count: infinite;
animation-direction: alternate;
}

@keyframes move{
   0%{
      margin-left: 0%;
   }
   100%{
      margin-left: 65%;
   }
}

.nav {
display: flex;
flex-wrap: wrap;
width: 80px;
height: 500px;
background: #AAD8B0;
z-index: 1000;
}

.nav a {
color: #FFCC5C;
width: 80px;
height: 40px;
text-align: center;
color: white;
padding-top: 20px;
transition: all .5s;
}


.nav a i {
font-size: 1.5em;
}

.nav a:hover {
color: #FFCC5C;
background: rgba(0,0,0, .2);
border-bottom: 10px solid #FFCC5C;
height: 30px;
padding-top: 10px;
}

.nav-toggle {
	display: none;
}

/* STYLING/POSITIONING THE HAMBURGER MENU */
.nav-toggle-label {
	position: absolute;
	top: 0;
	right: 0;
	margin-right: 1em;
	height: 100%;
	display: flex;
	align-items: center;
}
.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
	display: block;
	background: #fff;
	height: 3px;
	width: 30px;
	border-radius: 2px;
	position: relative;
	transition: all .5s ease-in-out;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
	content: '';
	position: absolute;
}

.nav-toggle-label span::before {
	bottom: 10px;
}
.nav-toggle-label span::after {
	top: 10px;
}

#nav-toggle:checked ~ .nav-toggle-label span {
	background: #333; /* setting it to the same background as header so it "disappears" */
}

/* transforming the before and after span into an X */
#nav-toggle:checked ~ .nav-toggle-label span::before {
	transform: rotate(45deg);
	bottom: 0;
	background: #fff;
}

 #nav-toggle:checked ~ .nav-toggle-label span::after {
	transform: rotate(-45deg);
	top: 0;
	background: #fff;
}

#menu {
	position: absolute;
	background: rgba(51, 51, 51,0.3);
	text-align: right;
	top: 100%; /* puts itself directly under the preceeding relative positioned element */
	left: 0;
	width: 100%;
	transform: scale(1, 0);
	transform-origin: top; /* menu appears from the top instead if center, try and comment this out and see for yourself */
  transition: transform .4s ease-in-out;
}


#menu ul {
	list-style: none;
}

#menu li {
	padding: 20px 10px;
}

#menu a {
	text-decoration: none;
	color: #fff;
	font-size: 18px;
	text-transform: uppercase;
	opacity: 0;
	transition: opacity .15s ease-in-out;
}

#menu a:hover {
	color: coral;
}

#nav-toggle:checked + #menu {
	transform: scale(1, 1);
}
#nav-toggle:checked ~ #menu a {
	opacity: 1;
	transition: opacity .25s ease-in-out .35s;
}

/* search bar */
.container-2{
  /* width: 300px; */
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}

.container-2 input#search{
  width: 50px;
  height: 50px;
  background:  rgba(51, 51, 51,0.3);
  border: none;
  font-size: 10pt;
  float: left;
  color: #FFCC5C;
  padding-left: 30px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #FFCC5C;
  
 z-index: inherit;
 
  -webkit-transition: width .55s ease;
  -moz-transition: width .55s ease;
  -ms-transition: width .55s ease;
  -o-transition: width .55s ease;
  transition: width .55s ease;
}

.container-2 input#search::-webkit-input-placeholder {
   color: #65737e;
}
 
.container-2 input#search:-moz-placeholder { /* Firefox 18- */
   color: #65737e;  
}
 
.container-2 input#search::-moz-placeholder {  /* Firefox 19+ */
   color: #65737e;  
}
 
.container-2 input#search:-ms-input-placeholder {  
   color: #65737e;  
}

.container-2 .icon{
  position: absolute;
  margin-left: 1050px;
  margin-bottom: 100px;
  margin-top:30px;
  z-index: 1;
  color: #4f5b66;
  
}

.container-2 input#search:focus, .container-2 input#search:active{
  outline:none;
  width: 300px;
}
 
.container-2:hover input#search{
width: 300px;
}
 
.container-2:hover .icon{
  color: #93a2ad;
}
#icon{
color: #FFCC5C;
}
.front{
  display: inline-block;
}
.search-container1 {
  padding-top: 140px;
  width: 490px;
  display: block;
  margin: 0 auto;
}
#search-bar{
  background-color: #333;
  opacity: 0.5;
}
#search-bar:hover { color: black; background:whitesmoke; }
input#search-bar {
  margin: 0 auto;
  width: 100%;
  height: 45px;
  padding: 0 20px;
  font-size: 1rem;
  border: 1px solid #D0CFCE;
  outline: none;
}
input#search-bar:focus {
  border: 1px solid #008ABF;
  transition: 0.35s ease;
  color: #008ABF;
}
input#search-bar:focus::-webkit-input-placeholder {
  transition: opacity 0.45s ease;
  opacity: 0;
}
input#search-bar:focus::-moz-placeholder {
  transition: opacity 0.45s ease;
  opacity: 0;
}
input#search-bar:focus:-ms-placeholder {
  transition: opacity 0.45s ease;
  opacity: 0;
}

.search-icon {
  position: relative;
  float: right;
  width: 75px;
  height: 75px;
  top: -62px;
  right: -45px;
}


/* .front-img{
  padding-left: 30%;
} */
.front-container{
  float: left;
  padding-left: 40px;
  display: grid;
  position: relative;
  top:20px;
  
}
.image1{
  min-width: 100vw;
  max-height: 100vh;
  margin: auto;
}
.image2{
  position: absolute;
  top: 55%;
	left: 45%;
	z-index: 2;
}

.location{
  position: absolute;
  top: 15%;
	left: 5%;
	z-index: 2;
}
.frontimage{
  z-index: 1;
  max-width: 100%;
  width:auto/2;
  height: auto;
}
#recent {
 
  
}
/* #recent #recent-container {
  position: absolute;
  white-space: nowrap;
  left: 0;
  -webkit-transition: all 2s ease-in-out;
  transition: all 1s ease-in-out;
} */
/* #recent #recent-container .recent-product {
  display: inline-block;
} */

.row {
  max-width: 60rem;
  margin: 0 auto; 
}
.row:not(:last-child) { margin-bottom: 8rem; }

.row::after {
  content: "";
  display: table;
  clear: both; 
}

.row [class^="col-"] { float: left; }
.row [class^="col-"]:not(:last-child) { margin-right: 3rem; }

.row .col-1-of-3 { width: 18rem; }

.card {
  -moz-perspective: 300rem;
  perspective: 300rem;
  position: relative;
  height: 30rem;
  border-radius: 5px;
  backface-visibility: hidden;
}

.card__side {
  height: 30rem;
  transition: all 1s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  backface-visibility: hidden;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }

.card__side--front {
  background-color: #fff; }
 
.card__side--back {
  transform: rotateY(180deg); }

.card__side--back-1 {
  background-image: linear-gradient(to right bottom, #ffc93c, #f07b3f); }

.card__side--back-2 {
  background-image: linear-gradient(to right bottom, #30e3ca, #11999e); }

.card__side--back-3 {
  background-image: linear-gradient(to right bottom, #e84545, #903749); }

.card:hover .card__side--front {
    transform: rotateY(-180deg); }

.card:hover .card__side--back {
  transform: rotateY(0); }

.card__pic {
  width: calc(100% - 2rem);
  height: 10rem;
  margin-bottom: 2rem;
  padding: 1rem;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  background-size: cover;
}

.card__pic--1 {
  background-image: url('https://source.unsplash.com/rumn3j2jTa4/600x400'); 
}



.card__heading {
  position: absolute;
  top: 8rem;
  right: 1rem;
  color: #fff;
  width: 65%;
  font-size: 1.6rem;
  line-height: 1.4;
  text-align: right;
  text-transform: uppercase;
}

.card__heading span {
  padding: .3rem 1.5rem;
  box-decoration-break: clone;
}

.card__h-span-1 { background-image: linear-gradient(to right bottom, rgba(255, 201, 60, 0.8), rgba(240, 123, 63, 0.8)); }



span.card__span-mountain {
  font-size: 1.2rem;
  padding: 0;
}

.card__details {
  color: #777;
  font-size: .9rem;
  margin-top: -5rem;
  padding-top: 6rem;
  padding-bottom: 1rem;
}
.card__details ul {
  width: 60%;
  margin: auto;
}

.card__details li:not(:last-child) {
  margin-bottom: .5rem;
  padding-bottom: .5rem;
  border-bottom: 1px solid #ddd;
}

.card__side2-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card__price {
  color: #fff;
  font-size: .8rem;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 1;
  margin-bottom: 4rem;
}

.card__price-value {
  font-size: 3.2rem;
  font-weight: 300;
  line-height: 1.6;
}

.btn {
  display: inline-block;
  font-size: 1rem;
  text-transform: uppercase;
  padding: .8rem 1.6rem;
  border-radius: 2rem;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:active,
.btn:focus {
  transform: translateY(0);
}

.btn--white {
  background-color: #fff;
}

/* geolocation */
.geolocation{
  background-image: url('http://priority1inc.com/wp-content/themes/priority1/images/map_warehouse.png');
  background-position: center; 
  background-repeat: no-repeat; 
  /* border : solid black 0.5px; */
  position: absolute;
    height: 600px;
    width: 900px;
    margin: -100px 0 0 -200px;
    top: 30%;
    left: 35%;
    text-align: center;
    color:black;
}
.geoClass{
  width: 60%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: 90%;
}
.h1location{
  margin-top: 15%;
}
.geobtn{
  background-color: #FFCC5C; /* Green */
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: grid;
  font-size: 16px;
  margin-left: 40%;
  margin-top: 2%;
}

/* Footer */
.site__footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #FFCC5C;
  color: #fafafa;
}
/* myaccount page */

.myaccount{
  padding-top: 10%;
  padding-bottom: 10%
}
.name{
  padding-left: 10%;
  display: inline;
  padding-top:5%;
}
.btn-product{
  float:right;
  right: 10px;
  margin-right: 20px;
  background-color: black;
  height:40px;
  width: 120px;
  font-size: 15px;
}

/* cart styling */
.cart-page{
  margin-top: 10%;
  margin-bottom: 20%;
  margin-left:10px;
  margin-right:10px;
 
}
.table>tbody>tr>td,
.table>tfoot>tr>td {
  vertical-align: middle;
}
.img-responsive{
  height:150px;
  width:150px;
}

@media screen and (max-width: 600px) {
  table#cart tbody td .form-control {
    width: 20%;
    display: inline !important;
  }
  .actions .btn {
    width: 36%;
    margin: 1.5em 0;
  }
  .actions .btn-info {
    float: left;
  }
  .actions .btn-danger {
    float: right;
  }
  table#cart thead {
    display: none;
  }
  table#cart tbody td {
    display: block;
    padding: .6rem;
    min-width: 320px;
  }
  table#cart tbody tr td:first-child {
    background: #333;
    color: #fff;
  }
  table#cart tbody td:before {
    content: attr(data-th);
    font-weight: bold;
    display: inline-block;
    width: 8rem;
  }
  table#cart tfoot td {
    display: block;
  }
  table#cart tfoot td .btn {
    display: block;
  }
}
.product-cart{
  padding:10px;
}
.product-list{
  padding-left: 10px
}